<footer class="section footer noover">
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title"><%= res.__('18')%></h3>
                <p>
                    <%= res.__('21')%> — <%= res.__('22')%> <br/>
                  8:00 — 18:00 Uhr<br/><br/>
                  <%= res.__('23')%> <br/>
                  8:00 — 16:00 Uhr <br/>
                  <%= res.__('24')%> 
                </p>
                <a href="#" class="readmore">Contact</a>
            </div><!-- end widget -->
        </div><!-- end col -->
        <div class="col-lg-4 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title"><%= res.__('19')%></h3>
            
                    <span class="f-item"> <%= res.__('25')%> :&nbsp;&nbsp;&nbsp; +49 1722772888 </span><br/>
                    <span class="f-item"> <%= res.__('26')%> : &nbsp; &nbsp; &nbsp; +49 21188233700 </span><br/>
                    <span class="f-item"> <%= res.__('27')%> :&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;  +49 21194259397 </span><br/>
                    <span class="f-item"> <%= res.__('26')%> : &nbsp;&nbsp;&nbsp; &nbsp; +43 720 111 313  </span><br/>
                    <span class="f-item"> <%= res.__('27')%> (AT) : +15 055393445 </span><br/>
                    <span class="f-item"> <%= res.__('26')%>(AT) : +43 720 111 313  </span>

                
            </div><!-- end widget -->
        </div><!-- end col -->

        <div class="col-lg-4 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title"><%= res.__('20')%></h3>
                <p>
                    <%= res.__('28')%>
                    <br/> 
                    <span class="f-item">Königsallee 19</span>
                     <br/>
                    <span class="f-item">Global World IK LLC</span>

                    
                    <br/> <br/> 
                    <span class="f-item"><%= res.__('29')%></span>

                     <br/>
                    <span class="f-item"> 5203 Juan Tabo Blvd. NE Suite 2b, Albuquerque
                        </span>

                  <br/>
                    <span class="f-item">New Mexico 87111 USA</span>

                    
                </p>
            </div>
        </div>
          <!-- <div class="col-lg-2 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title">Location</h3>
                <p>
                    Hauptniederlassung

                    Global World CC-VoIP GmbH
                    
                    Seitenstettengasse 5 / 37 1010 Wien
                </p>
            </div>
        </div>
        <div class="col-lg-2 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title">Location</h3>
                <p>
                    Hauptniederlassung

                    Global World IK LLC
                    
                    5203 Juan Tabo Blvd. NE Suite 2b, Albuquerque
                    New Mexico 87111 USA
                </p>
            </div>
        </div> -->

          

         
      </div><!-- end row -->
  </div><!-- end container -->
</footer><!-- end footer -->

<div class="copyrights">
  <div class="container">
      <div class="clearfix">
        <center>  
        <div class="footer-links">
            <ul class="list-inline">
                <li><a href="https://html.design">Copyright © 2022 GLOBAL WORLD IK LLC All Rights Reserver</a></li>
            </ul>
        </div>
        </center>
      </div>
  </div><!-- end container -->
</div><!-- end copy -->
</div><!-- end wrapper -->

<!-- jQuery Files -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/carousel.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/custom.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDOkFPJ7laX0Tsy0QehCHQaN2UBrRvr_gI"></script>
<script src="/js/map.js"></script>

<!-- VIDEO BG PLUGINS -->
<script src="/js/videobg.js"></script>

<style>
    .f-item {
        margin-top: 4px;
    }
</style>