<!-- <div id="preloader">
  <img class="preloader" src="/images/loader.gif" alt="">
</div> -->
<header class="header <%= home == 1 ? '' : 'header-normal' %>" style="padding-top:40px">
  

  <div class="container">
      <nav class="navbar navbar-default yamm">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <div class="logo-normal">
                  <a style="cursor: pointer;" onclick="navigate('/')" class="navbar-brand" ><img style="height: 100px;margin: -19px;" src="/images/logo.webp" alt=""></a>
              </div>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a style="cursor: pointer;" onclick="navigate('/')"><%= res.__('40')%></a></li>
                  <li><a  style="cursor: pointer;" onclick="navigate('overview')" ><%= res.__('41')%></a></li>
                  <li><a style="cursor: pointer;" onclick="navigate('partners')" ><%= res.__('42')%></a></li>
                  <li><a style="cursor: pointer;" onclick="navigate('privacy')" ><%= res.__('43')%></a></li>
                  <li><a style="cursor: pointer;" onclick="navigate('contact')" ><%= res.__('44')%></a></li>
                  <li><a  style="cursor: pointer;" onclick="navigate('agb')" ><%= res.__('45')%></a></li>
                  <li class="dropdown yamm-fw yamm-half"><a href="#" data-toggle="dropdown" class="dropdown-toggle active">Language <b class="fa fa-angle-down"></b></a>
                    <ul class="dropdown-menu" id="site-langs">
                      <li>
                          <a data-lang="en" class="dropdown-item" onclick="reRoute('en')" href="#">
                            <img style="height: 20px;" src="/images/flags/usa.png" alt=""> &nbsp;
                            English &nbsp;
                         </a>
                      </li>
                      <li>
                          <a data-lang="de" class="dropdown-item" onclick="reRoute('de')" href="#">
                            <img style="height: 20px;" src="/images/flags/germany.png" alt=""> &nbsp;
                            
                            Deutsch &nbsp; </a>
                      </li>
                      <li>
                        <a data-lang="fr" class="dropdown-item" onclick="reRoute('fr')" href="#">
                          <img style="height: 20px;" src="/images/flags/france.png" alt=""> &nbsp;
                          
                          French &nbsp; </a>
                    </li>
                        <li>
                          <a data-lang="ar" class="dropdown-item" onclick="reRoute('ar')" href="#">
                            <img style="height: 20px;" src="/images/flags/arabic.png" alt=""> &nbsp;
                            
                              Arabic &nbsp; </a>
                        </li>
                        <li>
                          <a data-lang="hu" class="dropdown-item" onclick="reRoute('hu')" href="#">
                            <img style="height: 20px;" src="/images/flags/hungary.png" alt=""> &nbsp;
                            
                            Hungarian &nbsp; </a>
                      </li>
                      <li>
                        <a data-lang="it" class="dropdown-item" onclick="reRoute('it')" href="#">
                          <img style="height: 20px;" src="/images/flags/italy.png" alt=""> &nbsp;
                          
                          Italian &nbsp; </a>
                      </li>
                      <li>
                        <a data-lang="ro" class="dropdown-item" onclick="reRoute('ro')" href="#">
                          <img style="height: 20px;" src="/images/flags/romania.png" alt=""> &nbsp;
                          
                          Romanian &nbsp; </a>
                      </li>
                      <li>
                        <a data-lang="ru" class="dropdown-item" onclick="reRoute('ru')" href="#">
                          <img style="height: 20px;" src="/images/flags/russia.png" alt=""> &nbsp;
                          
                          Russian &nbsp; </a>
                      </li>
                      <li>
                        <a data-lang="se" class="dropdown-item" onclick="reRoute('se')" href="#">
                          <img style="height: 20px;" src="/images/flags/serbia.png" alt=""> &nbsp;
                          Serbian &nbsp; </a>
                      </li>
                    </ul>
                </li>
              </ul>
          </div>
      </nav><!-- end navbar -->
  </div><!-- end container -->
</header>

<script>
    let sitePaths = ['overview','contact','partners','privacy','agb']
    let siteLangs = ['en','de','fr','ar','hu','it','ro','ru','se']
    const reRoute = (lang) => {
			let path = window.location.pathname.split("/")
			let webPath = path[1]
			let redirectPath
			if(!sitePaths.includes(webPath)) {
					redirectPath = `/${lang}`
			}else {
					redirectPath = `/${webPath}/${lang}` 
			}
			console.log(webPath,"webPath")
			console.log(redirectPath)
			window.location.href = redirectPath
    }

    const getActiveLang = () => {
			let activeLang
			let lastQuery = window.location.pathname.split("/").reverse()[0]
			if(siteLangs.includes(lastQuery)) {
				activeLang = lastQuery
			}else {
				activeLang = 'en'
			}
			return activeLang
    }

		const navigate = (url) => {
			let activeLang = getActiveLang()
			if(url == '/') {
				window.location.href = `/${activeLang}`
			}else{ 
				window.location.href = `/${url}/${activeLang}`
			}
		}

    window.onload = () => {
			let activeLang = getActiveLang()
			let x = $("#site-langs").find(`[data-lang='${activeLang}']`)
			x.append(`<i class="fa fa-check text-success ms-2"></i>`)
			console.log(x,"ASdsadasd")
    }
    
</script>