<%- include('includes/header'); %>
<body>  

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="/images/loader.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
       

        <%- include('includes/navigation',{home: 0}); %>
        <br/><br/><br/><br/>
      <div class="container">
        <div class="blog-desc-big">
          <p class="lead"><%= res.__('94')%></p>

          <h4><%= res.__('95')%></h4>
          <p><%= res.__('96')%></p>
          <h4><%= res.__('97')%></h4>

         
        </div>
       

        

        
</div>

       


        <%- include('includes/cta',{res:res}); %>

        <%- include('includes/footer'); %>

</body>
</html>