<%- include('includes/header'); %>
<body>  

   

    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="What you are looking for?" required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->

        <%- include('includes/navigation',{home: 0}); %>

        <section class="section db p120">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message page-title text-center">
                            <h3><%= res.__('47')%></h3>
                            <ul class="breadcrumb">
                                <li><a href="javascript:void(0)">Global World</a></li>
                                <li class="active"><%= res.__('47')%></li>
                            </ul>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section gb nopadtop">
            <div class="container">
                <div class="boxed boxedp4">

                    <div id="map" class="wow slideInUp"></div>

                    <div class="row contactv2 text-center">
                        <div class="col-md-4">
                            <div class="small-box">
                                <i class="flaticon-email wow fadeIn"></i>
                                <h4><%= res.__('98')%></h4>
                                <small>Phone: +90 987 665 55 44</small>
                                <small>Fax:  +90 987 665 55 45</small>
                                <p><a href="mail:to">info@yoursite.com</a></p>
                            </div><!-- end small-box -->
                        </div><!-- end col -->

                        <div class="col-md-4">
                            <div class="small-box">
                                <i class="flaticon-map-with-position-marker wow fadeIn"></i>
                                <h4><%= res.__('99')%></h4>
                                <small>PO Box 16122 Collins Street West</small>
                                <small>Victoria 8007 Australia</small>
                                <p><a href="#"><%= res.__('100')%></a></p>
                            </div><!-- end small-box -->
                        </div><!-- end col -->

                        <div class="col-md-4">
                            <div class="small-box">
                                <i class="flaticon-share wow fadeIn"></i>
                                <h4><%= res.__('101')%></h4>
                                <small>Twitter: @yourhandle</small>
                                <small>Facebook: facebook.com/yourhandle</small>
                                <p><a href="#"><%= res.__('102')%></a></p>
                            </div><!-- end small-box -->
                        </div><!-- end col -->
                    </div><!-- end contactv2 -->

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="section-title text-center">
                                <h3><%= res.__('82')%></h3>
                                <!-- <p>Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis.</p> -->
                            </div><!-- end title -->
                            
                            <form class="big-contact-form" role="search">
                                <input type="text" class="form-control" placeholder="<%= res.__('103')%>..">
                                <input type="email" class="form-control" placeholder="<%= res.__('104')%>..">
                                <input type="text" class="form-control" placeholder="<%= res.__('105')%>..">
                                <input type="text" class="form-control" placeholder="<%= res.__('106')%>..">
                                <textarea class="form-control" placeholder="<%= res.__('107')%>.."></textarea>
                                <button type="submit" class="btn btn-primary"><%= res.__('108')%></button>
                            </form>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div>
        </section>

        <%- include('includes/footer'); %>
        

</body>
</html>