<%- include('includes/header'); %>
<body>  

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader wow flip" src="/images/logo.webp" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="What you are looking for?" required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->

<%- include('includes/navigation',{home: 1}); %>
      

        <section id="home" class="video-section js-height-full">
            <div class="overlay"></div>
            <div class="home-text-wrapper relative container">
                <div class="home-message">
                    <p><%= res.__('1')%></p>
                    <small><%= res.__('2')%></small>
                    <!-- <%= res.__('test')%> -->
                    <div class="btn-wrapper">
                        <div class="text-center">
                            <a  class="btn btn-primary wow slideInLeft"><%= res.__('3')%></a> &nbsp;&nbsp;&nbsp;
                            <!-- <a  class="btn btn-default wow slideInRight">Buy Now</a> -->
                        </div>
                    </div><!-- end row -->
                </div>
            </div>
            <div class="slider-bottom">
                <span><%= res.__('4')%> <i class="fa fa-angle-down"></i></span>
            </div>
        </section>

        

        <section class="section gb">
            <div class="container">
                <div class="section-title text-center">
                    <h3><%= res.__('5')%> </h3>
                    <p><%= res.__('6')%> </p>
                </div><!-- end title -->

                <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
                    <div class="caro-item">
                        <div class="course-box">
                            <div class="image-wrap entry">
                                <img style="height:200px" src="images/callagent.webp" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a  title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                            <div class="course-details">
                                <h4>
                                    <small><%= res.__('7')%> </small>
                                    <a  title=""><%= res.__('8')%></a>
                                </h4>
                                <p>(M/W/D)</p>
                            </div><!-- end details -->
                            <div class="course-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a ><i class="fa fa-user"></i> 21</a></li>
                                        <li><a ><i class="fa fa-clock-o"></i> 15 Min.</a></li>
                                    </ul>
                                </div><!-- end left -->

                                <div class="pull-right">
                                    <ul class="list-inline">
                                        <li><a >$22.00</a></li>
                                    </ul>
                                </div><!-- end left -->
                            </div><!-- end footer -->
                        </div><!-- end box -->
                    </div><!-- end col -->

                    <div class="caro-item">
                        <div class="course-box">
                            <div class="image-wrap entry">
                                <img style="height:200px" src="images/project.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a  title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                            <div class="course-details">
                                <h4>
                                    <small><%= res.__('7')%></small>
                                    <a  title=""><%= res.__('9')%></a>
                                </h4>
                                <p>(M/W/D)</p>
                            </div><!-- end details -->
                            <div class="course-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a ><i class="fa fa-user"></i> 21</a></li>
                                        <li><a ><i class="fa fa-clock-o"></i> 15 Min.</a></li>
                                    </ul>
                                </div><!-- end left -->

                                <div class="pull-right">
                                    <ul class="list-inline">
                                        <li><a >$22.00</a></li>
                                    </ul>
                                </div><!-- end left -->
                            </div><!-- end footer -->
                        </div><!-- end box -->
                    </div><!-- end col -->
                    <div class="caro-item">
                        <div class="course-box">
                            <div class="image-wrap entry">
                                <img style="height:200px" src="images/partners.jpeg" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a  title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                            <div class="course-details">
                                <h4>
                                    <small><%= res.__('7')%></small>
                                    <a  title=""><%= res.__('10')%></a>
                                </h4>
                                <p>(M/W/D)</p>
                            </div><!-- end details -->
                            <div class="course-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a ><i class="fa fa-user"></i> 21</a></li>
                                        <li><a ><i class="fa fa-clock-o"></i> 15 Min.</a></li>
                                    </ul>
                                </div><!-- end left -->

                                <div class="pull-right">
                                    <ul class="list-inline">
                                        <li><a >$22.00</a></li>
                                    </ul>
                                </div><!-- end left -->
                            </div><!-- end footer -->
                        </div><!-- end box -->
                    </div><!-- end col -->
                    <div class="caro-item">
                        <div class="course-box">
                            <div class="image-wrap entry">
                                <img style="height:200px" src="images/distribaution.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a  title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                            <div class="course-details">
                                <h4>
                                    <small><%= res.__('7')%></small>
                                    <a  title=""><%= res.__('11')%></a>
                                </h4>
                                <p>(M/W/D)</p>
                            </div><!-- end details -->
                            <div class="course-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a ><i class="fa fa-user"></i> 21</a></li>
                                        <li><a ><i class="fa fa-clock-o"></i> 15 Min.</a></li>
                                    </ul>
                                </div><!-- end left -->

                                <div class="pull-right">
                                    <ul class="list-inline">
                                        <li><a >$22.00</a></li>
                                    </ul>
                                </div><!-- end left -->
                            </div><!-- end footer -->
                        </div><!-- end box -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis">

                <div class="section-button text-center">
                    <a  class="btn btn-primary"><%= res.__('12')%></a>
                </div>
            </div><!-- end container -->
        </section>

        

        <section class="section db">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">1230</h4>
                            <h3><i class="flaticon-black-graduation-cap-tool-of-university-student-for-head"></i> <%= res.__('13')%></h3>
                            <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">331</h4>
                            <h3><i class="flaticon-online-course"></i> <%= res.__('14')%></h3>
                            <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">8901</h4>
                            <h3><i class="flaticon-coffee-cup"></i><%= res.__('15')%></h3>
                            <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

       

     

        <%- include('includes/cta',{res:res}); %>

<%- include('includes/footer'); %>
      

</body>
</html>