<%- include('includes/header'); %>
<body>  

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="/images/loader.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="What you are looking for?" required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->

        <%- include('includes/navigation',{home: 0}); %>

      <section
        class="parallax event-section"
        data-stellar-background-ratio="0.5"
        style='background-image:url("/images/partners.jpg")'>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="tagline-message event-title text-center">
                <h3><%= res.__('46')%></h3>
                <div class="btn-wrapper">
                  <div class="text-center">
                    <a href="#" class="btn btn-primary wow slideInLeft"
                      ><%= res.__('47')%></a
                    >
                      <a href="#" class="btn btn-primary wow slideInLeft"
                      ><%= res.__('48')%></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section gb nopadtop">
        <div class="container">
          <div class="row event-boxes">
            <div class="col-md-4">
              <div class="box m30">
             
                <div class="event-desc">
                  <h4>Bahoz</h4>
                  <img
                    style="height: 80px;"
                    src="/images/partners/p1.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box m30">
           
                <div class="event-desc">
                  <h4>Hermes</h4>
                  <img
                  style="height: 80px;"
                    src="/images/partners/p2.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box m30">
              
                <div class="event-desc">
                  <h4>DHL</h4>
                  <img
                   style="height: 80px;"
                    src="/images/partners/p3.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top:10px">
              <div class="box">
               
                <div class="event-desc">
                  <h4>Ebay</h4>
                  <img
                  style="height: 80px;"
                    src="/images/partners/p4.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top:10px">
              <div class="box">
                <div class="event-desc">
                  <h4>Amazon</h4>
                  <img
                  style="height: 80px;"
                    src="/images/partners/p5.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top:10px">
              <div class="box">
                <div class="event-desc">
                  <h4>Apple</h4>
                  <img
                  style="height: 80px;"
                    src="/images/partners/p6.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top:10px">
              <div class="box">
                <div class="event-desc">
                  <h4>Sippy</h4>
                  <img
                  style="height: 80px;"
                    src="/images/partners/p7.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top:10px">
              <div class="box">
                <div class="event-desc">
                  <h4>UPS</h4>
                  <img
                  style="height: 80px;"
                    src="/images/partners/p8.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top:10px">
              <div class="box">
                <div class="event-desc">
                  <h4>Google</h4>
                  <img
                  style="height: 80px;"
                    src="/images/partners/p9.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top:10px">
              <div class="box">
                <div class="event-desc">
                  <h4>Booking.com</h4>
                  <img
                  style="height: 80px;"
                    src="/images/partners/p10.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top:10px">
              <div class="box">
                <div class="event-desc">
                  <h4>Global Chat Agency</h4>
                  <img
                  style="height: 80px;"
                    src="/images/partners/p11.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top:10px">
              <div class="box">
                <div class="event-desc">
                  <h4>Global World</h4>
                  <img
                  style="height: 80px;"
                    src="/images/partners/p12.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-top:10px">
              <div class="box">
                <div class="event-desc">
                  <h4>Global Dialer</h4>
                  <img
                  style="height: 80px;"
                    src="/images/partners/p13.webp"
                    alt=""
                    class="img-responsive wow slideInLeft" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

        

       


        <%- include('includes/cta',{res:res}); %>

        <%- include('includes/footer'); %>

</body>
</html>