<%- include('includes/header'); %>
<body>  

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="/images/loader.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
       

        <%- include('includes/navigation',{home: 0}); %>
        <br/><br/><br/><br/>
      <div class="container">
        <div class="blog-desc-big">
          <p class="lead"><%= res.__('49')%></p>

          <h4><%= res.__('50')%></h4>
          <p><%= res.__('51')%></p>

          <h4><%= res.__('52')%></h4>
          <p><%= res.__('53')%></p>
         
          <h4><%= res.__('54')%></h4>
          <p><%= res.__('55')%></p>

          <h4><%= res.__('56')%></h4>
          <p><%= res.__('57')%></p>

          <h4><%= res.__('58')%></h4>
          <p><%= res.__('59')%></p>
        </div>
        <br/><br/>
        <div class="blog-desc-big">
          <p class="lead"><%= res.__('60')%></p>

          <h4><%= res.__('61')%></h4>
          <p><%= res.__('62')%></p>

          
        </div>

        <br/><br/>
        <div class="blog-desc-big">
          <p class="lead"><%= res.__('63')%></p>

          <h4><%= res.__('64')%></h4>
          <p><%= res.__('65')%></p>

          <h4><%= res.__('66')%></h4>
          <p><%= res.__('67')%></p>

          <p><%= res.__('68')%>: +4921188233700</p>
          <p><%= res.__('69')%>: +491722772888"</p>
          <p><%= res.__('70')%>: +4921194259397</p>

          <h4><%= res.__('71')%></h4>
          <p><%= res.__('72')%></p>

          <h4><%= res.__('73')%></h4>
          <p><%= res.__('74')%></p>

          <h4><%= res.__('75')%></h4>
          <p><%= res.__('76')%></p>


          
        </div>

        <br/><br/>
        <div class="blog-desc-big">
          <p class="lead"><%= res.__('77')%></p>

          <h4><%= res.__('78')%></h4>
          <p><%= res.__('79')%></p>

          <h4><%= res.__('80')%></h4>
          <p><%= res.__('81')%></p>

          <h4><%= res.__('82')%></h4>
          <p><%= res.__('83')%></p>

          <h4><%= res.__('84')%></h4>
          <p><%= res.__('85')%></p>

          <h4><%= res.__('86')%></h4>
          <p><%= res.__('87')%></p>

          <h4><%= res.__('88')%></h4>
          <p><%= res.__('89')%></p>

          

         


          
        </div>

        <br/><br/>
        <div class="blog-desc-big">
          <p class="lead"><%= res.__('90')%></p>
           <p><%= res.__('91')%></p>

           <h4><%= res.__('92')%></h4>
           <p><%= res.__('93')%></p>

          

         


          
        </div>

        
</div>

       


        <%- include('includes/cta',{res:res}); %>

        <%- include('includes/footer'); %>

</body>
</html>